<head>
	<link href="https://gmpg.org/xfn/11" rel="profile" />
	<link rel="canonical" href="https://soi-ha.github.io/" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="google-site-verification" content="qN4GDLliD7yUtladZQRlgUB6Xnm-2G2G0yEVA44Ls5k" />

	<!-- Enable responsiveness on mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
	<meta name="robots" content="index, follow" />
	<meta name="keywords" content="프론트엔드, frontend, FE, 개발자" />
	<meta name="description" content="프론트엔드 개발자 소하의 개발 블로그" />

	<!-- Open Graph -->
	<meta property="og:title" content="Soha의 develog" />
	<meta property="og:description" content="프론트엔드 개발자 소하의 개발 블로그" />
	<meta property="og:image" content="https://soi-ha.github.io/favicon.png" />
	<meta property="og:url" content="https://soi-ha.github.io/" />

	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Soha의 develog" />
	<meta name="twitter:description" content="프론트엔드 개발자 소하의 개발 블로그" />
	<meta name="twitter:image" content="https://soi-ha.github.io/favicon.png" />

	<title>
		{% if page.title == "Home" %} {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %} {% else
		%} {{ page.title }} &middot; {{ site.title }} {% endif %}
	</title>

	{% include google-analytics.html %}

	<!-- CSS -->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" /> {% include font-includes.html %}

	<!-- Icons -->
	{% include favicons.html %}

	<!-- RSS -->
	<link
		rel="alternate"
		type="application/rss+xml"
		title="RSS"
		href="{{ site.feed.path | default: 'feed.xml' | relative_url }}"
	/>

	{% include custom-head.html %}
</head>
